header h2 { //slogan reappears at medium
    display: block;
}


header {
    h1 { //changed the padding to fit slogan
        padding-top: 2rem;
    }
}
nav { //medium navigation into horizontal bar
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        li {
            border:none;
        }
    }
}

main figure {
width: 50%;
}