header h2 {
    display: block;
}


header {
    h1 {
        padding-top: 2rem;
    }
}
nav {
    
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        li {
            border:none;
        }
    }
}

main figure {
width: 50%;
}