//Columns
@for $i from 0 through 12 {
    $w: ($i / 12) * 100%;
    .medium-#{$i} {
        flex-basis: $w;
    }
}
.header {
    padding: 1rem 0 0 1rem;
}
.header__logoLine {
    width: 99%; //slightly smaller width do it doesn't overflow the page
}


.nav {
    padding: 0.4rem;
    height: auto;
}
.nav__mainUl {
    position: static;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    width: 100%;
    padding: 0;
}
.nav__buttonHamburger {
    display: none;
}
.nav__buttonX {
    display: none;
}
.nav__icon {
    padding-right: 0.2rem;
    display: block;
}
.nav__mainListItems {
    display: flex;
    align-items: center;

    padding: 0 0.4rem;
    width: auto;

    font-weight: 400;
    font-size: .8rem;
    color: grey;
    text-align: unset;
}
.nav__mainListItems:hover {
    cursor: pointer;
    color: #0480b1;
    background-color: rgb(255, 255, 255);
}

.main__successSection {
    padding: 1rem;
    flex-wrap: nowrap; //no wrap on medium screens
}
.main__threeArticlesPriceFlex {
    flex-wrap: nowrap;
}

