//Columns
@for $i from 0 through 12 {
    $w: ($i / 12) * 100%;
    .medium-#{$i} {
        flex-basis: $w;
        column-gap: 20px;
    }
}
.header {
    padding: 1rem 0 0 1rem;
}
.header__logoLine {
    width: 99%; //slightly smaller width do it doesn't overflow the page
}
.nav__mainUl {
    width: 100%;
    justify-content: flex-end;
}