//font-family: 'Sen', sans-serif;
//Utility Rules
.flexed {
    display: flex;
    flex-wrap: wrap;
}
.maxWidth {
    max-width: 58.75rem;
    margin: 0 auto;
}

//Columns
@for $i from 0 through 12 {
    $w: ($i / 12) * 100%;
    .small-#{$i} {
        flex-basis: $w;
        column-gap: 10px;
    }
}
//Global
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Sen', sans-serif;
}
