/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 30, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
body {
  line-height: 1; }

/* line 34, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 39, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
nav ul {
  list-style: none; }

/* line 43, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
blockquote, q {
  quotes: none; }

/* line 47, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 53, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
/* line 62, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
/* line 69, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 76, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
del {
  text-decoration: line-through; }

/* line 80, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 85, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
/* line 91, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 100, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_normalize.scss */
input, select {
  vertical-align: middle; }

/* line 2, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 4, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
body {
  font-family: "Karla", sans-serif;
  font-size: 16px; }

/* line 11, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
header, nav, main, footer {
  max-width: 75rem;
  margin: auto; }

/* line 15, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
#headWrapper {
  background: black;
  background: linear-gradient(0deg, black 0%, #020024 100%);
  border-bottom: 5px solid #060525; }

/* line 20, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
header {
  display: flex;
  color: white;
  letter-spacing: .1rem; }
  /* line 24, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  header img {
    height: 100%;
    width: auto; }
  /* line 28, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 2.7rem; }
  /* line 33, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  header h2 {
    display: none;
    font-style: italic;
    padding-top: .5rem; }

/* line 40, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
.navWrapper {
  border-bottom: 5px solid #060525; }

/* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
nav ul li {
  padding: 1rem;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #060525, black);
  font-weight: 700; }
  /* line 52, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  nav ul li a {
    text-decoration: none;
    color: black;
    display: block; }

/* line 58, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
nav ul li.active {
  background: #040329; }
  /* line 60, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  nav ul li.active a {
    color: white; }

/* line 64, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
nav ul li:hover {
  background: #040329; }
  /* line 66, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  nav ul li:hover a {
    color: white; }

/* line 73, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
#mainWrapper {
  background: black; }

/* line 77, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
main {
  background: white;
  padding-bottom: 6rem; }
  /* line 80, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  main h1 {
    background: #060525;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    color: white;
    position: relative;
    bottom: 20px; }
  /* line 88, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  main figure {
    float: right;
    width: 100%;
    height: auto;
    padding: 1rem; }
    /* line 93, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
    main figure img {
      width: 100%; }
    /* line 96, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
    main figure figcaption {
      padding: 1rem;
      text-align: center;
      font-style: italic; }
  /* line 102, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  main p {
    padding: 0 1rem;
    line-height: 1.3rem; }
  /* line 106, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
  main img {
    width: 100%;
    height: auto; }

/* line 111, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
#footerWrapper {
  background: #060525; }

/* line 114, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_small.scss */
footer {
  padding: 2rem;
  color: white;
  text-align: center; }

@media only screen and (min-width: 35rem) {
  /* line 1, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_medium.scss */
  header h2 {
    display: block; }
  /* line 7, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_medium.scss */
  header h1 {
    padding-top: 2rem; }
  /* line 12, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_medium.scss */
  nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem; }
    /* line 16, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_medium.scss */
    nav ul li {
      border: none; }
  /* line 22, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_medium.scss */
  main figure {
    width: 50%; } }

@media only screen and (min-width: 64rem) {
  /* line 2, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_large.scss */
  nav ul {
    justify-content: center; }
  /* line 7, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/02unit/scss/_large.scss */
  main figure {
    width: 33%; } }

/*# sourceMappingURL=styles.css.map */