header {
    div {
        margin: auto 2rem;
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.3rem;
        }
    }
}

nav {
    ul {
    display: flex;
    }
}

main {
    div {
        display: flex;
        figure {
            flex-basis: 30%;
        }
    }
}