
header {
    div {
        flex-basis: 50%;
        margin: auto 1.5rem;
        h1 {
            font-size: 2rem;
        }
        h2{
            font-family: $bodyFont;
            font-weight: 300;
            margin-top: .5rem;
            font-size: 1rem;

        }
    }
}

main {
    div {
        figure {
            flex-basis: 45%;
        }
    }
}