// font-family: 'Plus Jakarta Sans', sans-serif;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family:'Plus Jakarta Sans', sans-serif;
   
}



.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: yellow;
}

.ul {
    display: flex;
}

.ul__li {
    flex-basis: 33.3%;
}
.ul__liAnchor {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.main__inventoryWrapper {
    display: grid;
    grid-template-columns: 1fr;
}


.main__figure {
    margin: 0;
    width: 100%;
    position: relative;
}
.main__figureImg {
    width: 100%;
}
.main__figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main__addressPhoneDiv {
    display: grid;
    grid-template-columns: .2fr 1fr .2fr 1fr;
    align-items: center;
}
.main__addressItem {
    padding: .2rem;
}

// div {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }
// div below span i {
//     float: left;
//     font-size: 1.5rem;
// }