// font-family: 'Roboto Condensed', sans-serif;
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "Vollkorn", serif;
}
  
.body {
    background-image: url(/08unit/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    padding: 1rem 2rem;
    background-color: $headerColor;
}

.nav {
    background-color: white;
    padding: 1rem;

    .nav__hamburger {
        font-size: 1.5rem; 
    }
    
    .nav__exit {
        font-size: 1.5rem;
        animation-name: twirl;
        animation-duration: 2s;
    }
    .nav__ul.nav__button--open {
        display: block; 
    }
    .nav__hamburger--closed {
        display: none;  

    }  
    .nav__exit {
        display: none;
    }
    .nav__exit.nav__exit--open {
        display: block;
    }
    @keyframes twirl {
        from {
        }
        to {
            transform: rotatex(180deg);
            color: black;
        }
    }
    .nav__ul {
        display: none;
    }
    .nav__li {
        padding-top: 1rem;
    }
    .nav__anchor {
        color: black;

        font-size: clamp(1rem, 4vw, 4vw);
        text-decoration: none;
    }
    .nav__li:hover {
        border-bottom: 2px solid black;
    }
    .nav__li--active {
        border-bottom: 2px solid black;
    }
}


.main__storygrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .8fr .8fr .8fr;
    gap: $gridGap;
    max-width: 80rem;
    margin: 1rem auto;
    padding: 0 1rem;
    .main__img {
        width: 100%;
        height: 100%;
        object-fit: cover; //scaled to the images to the grid container

        box-shadow: 0 3px 6px rgb(51, 51, 51);
        border-radius: 1%;
    }
    .main__story--topstory {
        grid-column: 1/3;
        grid-row: 1/2;
        justify-content: center;
        align-items: center;
    }
    
    .main__figure {
        background-color: $headerColor;
    }
  
    .main__figure:hover {
        background-color: white;
        box-shadow: 0 3px 6px rgb(27, 27, 27);

        cursor: pointer;
    }  
    .main__figcaption {
        padding: 1rem;
    }

    .main__anchor {
        color: black;

        text-decoration: none;
        font-weight: 800;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}  

.footer {
    padding: 1rem;
    
    background-color: $headerColor;
    
    .footer__linkgroup {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 1rem 1rem;
    }
    .footer__anchor {
        text-decoration: none;
    }
    .footer__name {
        font-weight: 600;
    }
    .footer__imageciting {
        padding: 1rem 0;
        color: rgb(51, 51, 51);
        font-size: clamp(.5rem, 1vw, 2rem);
    }
}





