.header__hamburger {
  display: none;
}
.nav {
  position: static;
  transform: translate3d(0, 0, 0);
  width: auto;
  .nav__ul {
    display: flex;
    margin-left: 2%;
  }
  .ul__li {
    padding: 1rem;
  }
  .ul__witch {
    position: absolute;
    .sub__ul {
        padding: 0;
        .sub__li {
            padding: .5rem 0;
        }
    }
    
  }
}
