//Columns

@for $i from 0 through 12 {
    $w:($i / 12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
}
header {
    grid-template-columns: 20% 60% 20%;
    #phoneNumber {
        display: block;
    }
    #phoneButton {
        display: none;
    }
    #hamburger {
        display: none;
    }
}
div#navWrapper {
    grid-row-start: 2;
}
nav {
    ul {
        justify-content: right;
    }
    #closex {
        display: none;
    }
}
div#mainWrapper {
    grid-row-start: 3;
}
div#footerWrapper {
    grid-row-start: 4;
    padding: 1rem 0;
  background: rgb(95, 84, 84);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(223, 217, 224) 100%
  );
}

