// font-family: 'Cinzel', serif;
// font-family: 'Vollkorn', serif;

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Cinzel';
}
body {
    display: grid;
}
header, main, nav, footer {
    max-width: 75rem;
    margin: 0 auto;
}
div#headerWrapper {
    grid-row-start: 1;
}
header {
    background-color: red;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    figure {
        width: clamp(50px, 80%, 200px);
        img {
            width: 100%;
            height: auto;
        }
    }
    h1{
        font-family: 'Cinzel', serif;
        font-size: clamp(4vw, 7vw, 4rem);
        
    }
    h2 {
       font-family: 'Vollkorn'; 
       font-size: clamp(1rem, 3vw, 2rem);
    }
}


div#navWrapper {
    grid-row-start: 4;
}

div#mainWrapper {
    grid-row-start: 2;
}
main {
    section {
        div {
            figure{
                width: 200px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

div#footerWrapper {
    grid-row-start: 3;
}
//Columns
.block {
    display: block;
}
section.flexed {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}
.column {
    padding: 0 $gutter;
}