// font-family: 'Cinzel', serif;
// font-family: 'Vollkorn', serif;

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Cinzel';
}

header, main, footer {
    max-width: 75rem;
    margin: 0 auto;
}

header {
    font-family: 'Vollkorn';
}


//Columns

@for $i from 1 through 12 {
    $w:($i / 12) * 100;
    .small-#{$i} {flex-basis: $w;}
}