/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
body {
  line-height: 1;
}

/* line 34, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
nav ul {
  list-style: none;
}

/* line 43, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_normalize.scss */
input, select {
  vertical-align: middle;
}

/* line 4, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Vollkorn", serif;
}

/* line 16, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
body {
  display: grid;
}

/* line 21, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header,
main,
nav,
footer {
  max-width: 75rem;
  margin: 0 auto;
}

/* line 30, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
div#headerWrapper {
  border-top: 5px solid #c0b9bf;
  grid-row-start: 1;
}

/* line 36, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

/* line 40, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header figure {
  width: clamp(50px, 100%, 200px);
}

/* line 42, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header figure img {
  width: 100%;
  height: auto;
}

/* line 47, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header h1 {
  font-family: "Cinzel", serif;
  font-size: clamp(4vw, 7vw, 4rem);
  text-shadow: 2px 2px 2px white;
  margin: auto 0;
  padding-left: 1rem;
}

/* line 54, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header #phoneNumber {
  display: none;
  margin: auto;
  text-align: center;
}

/* line 59, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header #phoneButton {
  font-size: 2rem;
  margin: auto;
}

/* line 64, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header #hamburger {
  margin: auto 0;
  font-size: 2rem;
}

/* line 67, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header #hamburger i {
  color: black;
}

/* line 72, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
header h2 {
  font-family: "Vollkorn";
  font-size: clamp(1rem, 3vw, 2rem);
  text-align: center;
}

/* line 79, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
div#navWrapper {
  padding: 1rem 0;
  grid-row-start: 4;
  background: #5f5454;
  background: linear-gradient(0deg, white 0%, #dfd9e0 100%);
}

/* line 90, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
nav {
  padding: 0 1rem;
}

/* line 92, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 96, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
nav ul li {
  padding: .5rem;
}

/* line 98, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Cinzel", serif;
  font-weight: 600;
  padding: .2rem;
}

/* line 106, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
nav ul .active {
  background-color: white;
  border-radius: 10%;
  border-top: 2px solid #c0b9bf;
}

/* line 111, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
nav ul a:hover {
  background-color: white;
  border-radius: 10%;
  border-top: 2px solid #c0b9bf;
}

/* line 117, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
nav i {
  font-size: 2rem;
  padding: 1rem;
}

/* line 123, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
div#mainWrapper {
  grid-row-start: 2;
}

/* line 129, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section div {
  margin-top: 3rem;
}

/* line 131, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section div h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* line 137, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section div figure img {
  border-radius: 10%;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px #cecece;
}

/* line 144, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section div button {
  font-size: 1rem;
  font-family: "Cinzel", serif;
  border: none;
  border-bottom: 2px solid #c0b9bf;
  border-radius: 20% 20% 0 0;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}

/* line 153, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section div button:hover {
  background-color: #5f545e;
  color: white;
}

/* line 160, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section#ctas button {
  background-color: #c0b9bf;
  padding: 2rem;
}

/* line 165, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section#blogs {
  background: #5f5454;
  background: linear-gradient(0deg, white 0%, #dfd9e0 100%);
  margin: 1rem;
  line-height: 1.6rem;
}

/* line 175, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section#blogs div#blog-1 h3 {
  font-size: 2rem;
  display: block;
}

/* line 181, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section#tip-faq-flex {
  line-height: 1.6rem;
}

/* line 183, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section#tip-faq-flex div {
  padding: 2rem 1rem;
}

/* line 185, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section#tip-faq-flex div h3 {
  font-size: 2rem;
}

/* line 188, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
main section#tip-faq-flex div p {
  margin-top: 1rem;
}

/* line 196, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
div#footerWrapper {
  grid-row-start: 3;
}

/* line 199, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
footer {
  padding: 1rem;
  text-align: center;
}

/* line 202, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
footer #socialButtons {
  font-size: 2rem;
}

/* line 208, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.block {
  display: block;
}

/* line 211, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.flexed {
  display: flex;
  flex-wrap: wrap;
}

/* line 215, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.column {
  padding: 0 2vw;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-0 {
  flex-basis: 0%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-1 {
  flex-basis: 8.33333%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-2 {
  flex-basis: 16.66667%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-3 {
  flex-basis: 25%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-4 {
  flex-basis: 33.33333%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-5 {
  flex-basis: 41.66667%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-6 {
  flex-basis: 50%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-7 {
  flex-basis: 58.33333%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-8 {
  flex-basis: 66.66667%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-9 {
  flex-basis: 75%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-10 {
  flex-basis: 83.33333%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-11 {
  flex-basis: 91.66667%;
}

/* line 222, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_small.scss */
.small-12 {
  flex-basis: 100%;
}

@media only screen and (min-width: 35rem) {
  /* line 2, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  header {
    grid-template-columns: 20% 60% 20%;
  }
  /* line 4, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  header #phoneNumber {
    display: block;
  }
  /* line 7, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  header #phoneButton {
    display: none;
  }
  /* line 10, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  header #hamburger {
    display: none;
  }
  /* line 14, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  div#navWrapper {
    grid-row-start: 2;
  }
  /* line 19, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  nav ul {
    justify-content: right;
  }
  /* line 22, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  nav #closex {
    display: none;
  }
  /* line 27, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  div#mainWrapper {
    grid-row-start: 3;
  }
  /* line 31, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  div#footerWrapper {
    grid-row-start: 4;
    padding: 1rem 0;
    background: #5f5454;
    background: linear-gradient(0deg, white 0%, #dfd9e0 100%);
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-0 {
    flex-basis: 0%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-1 {
    flex-basis: 8.33333%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-2 {
    flex-basis: 16.66667%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-3 {
    flex-basis: 25%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-4 {
    flex-basis: 33.33333%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-5 {
    flex-basis: 41.66667%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-6 {
    flex-basis: 50%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-7 {
    flex-basis: 58.33333%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-8 {
    flex-basis: 66.66667%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-9 {
    flex-basis: 75%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-10 {
    flex-basis: 83.33333%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-11 {
    flex-basis: 91.66667%;
  }
  /* line 45, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_medium.scss */
  .medium-12 {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 75rem) {
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-0 {
    flex-basis: 0%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-1 {
    flex-basis: 8.33333%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-2 {
    flex-basis: 16.66667%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-3 {
    flex-basis: 25%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-4 {
    flex-basis: 33.33333%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-5 {
    flex-basis: 41.66667%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-6 {
    flex-basis: 50%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-7 {
    flex-basis: 58.33333%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-8 {
    flex-basis: 66.66667%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-9 {
    flex-basis: 75%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-10 {
    flex-basis: 83.33333%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-11 {
    flex-basis: 91.66667%;
  }
  /* line 5, ../../../OneDrive - Utah Valley University/UVU/Spring 2022/DGM 2740 Principles of Web Design/DGM2740/07unit/scss/_large.scss */
  .large-12 {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */