.pageWrapper {
    grid-template-areas: 
        "header"
        "navigation" 
        "content"
        "footer";
    grid-template-columns: auto;
}

.nav {
    width: 100%;
    height: auto;
}
.ul {
    display: flex;
}
.main__grid {
    margin: auto;
    grid-template-areas: 
    "main main story1"
    "main main story2";
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 50% 50%;
}
.grid__item {
    margin-top: 0;
}
.main__story {
    padding: 0 1rem 1rem 1rem;
}