* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Scada", sans-serif;
  background-image: url(/images/horizontalLines.svg); // need to change
}

.pageWrapper {
  display: grid;
  grid-template-areas:
    "hamburger"
    "header"
    "content"
    "footer"
    "navigation";
}

//Header
.header {
  grid-area: header;
}
.header__figure {
  width: clamp(150px, 50%, 10%); //logo image
  margin: auto;

  padding: 2rem;

  background-color: white;

  text-shadow: $textShadow;
}

//Navigation
.nav {
  grid-area: navigation;

  height: 100vh;

  background-color: $headerBackgroundColor;
}

//Navigation List
.ul__li {
  padding: 0.5rem 0;
}
.ul__liAnchor {
  padding: 0 1rem;

  color: black;
  text-decoration: none;
}
//Navigation hover states
.ul__li:hover {
  background-color: rgb(8, 8, 34);
}
.ul__li:hover a {
  color: white;
}

.ul__li.active {
  background-color: rgb(8, 8, 34);
}
.ul__li.active a {
    color: white;
}

.nav__button {
  //Hamburger Button
  padding: 1rem 1rem 0 1rem;

  font-size: 2rem;
}
#myLinks a {
  text-decoration: none;
  color: black;
}
#hamburger a {
  text-decoration: none;
  color: white;
  text-shadow: $textShadow;
}

//Main Content
.main {
  grid-area: content;
  margin-top: 2rem;
  padding: 1rem;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.768);
}
.main__grid {
  display: grid;
  grid-template-areas:
    "main"
    "story1"
    "story2";
}
.grid__item {
  margin-top: 1rem;
}
.main__title {
  padding: 1rem 0;

  color: white;
  font-size: 1.5rem;
}

.main__storyTitle {
  padding: .5rem 0;
  color: white;
}
.main__video {
  position: relative;
  grid-area: main;

  padding-bottom: 56.25%;
  height: 0;
}
.main__videoIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main__storyImage {
  width: 100%;
  object-fit: cover;
}
.story1 {
  grid-area: story1;
}
.story2 {
  grid-area: story2;
}



.footer {
  grid-area: footer;
  margin: 1rem;

  text-align: center;
  color: white;
  text-shadow: $textShadow;
  .imageCiting a {
    text-decoration: none;
    color: white;
  }
}

.hamburger {
  grid-area: hamburger;
  justify-self: end;
}
