// font-family: 'Alegreya Sans SC', sans-serif;
// font-family: 'Spinnaker', sans-serif;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Spinnaker', sans-serif;
}
  
.body {
    font-family:'Spinnaker', sans-serif;
}

.header, .nav, .main, .footer {
    max-width: 64rem;
    margin: 0 auto;
}

.header {
    height: clamp(20vw, 30vw, 20vw);

    background-image: url(/09unit/images/headerbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  top center;
    
    font-family: 'Alegreya Sans SC', sans-serif;
    .header__company {
        font-size: 2rem;
    }
}

.nav {
}
.ul {

}
  
.ul__exploreUl {
    display: none;
}

.ul__exploreUL--open {
    display: block;
}




//picture in the slider and description
.picture {position: relative};
.picture__descDiv {
    color: black;
    position: absolute;
    bottom: 0; //allows both elements to match at the bottom
}


.main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


//Background images for the cards that appear under color
.main__card:nth-child(1) {
    background-image: url("/09unit/images/squareacornstreet/mediumsquare.jpg");
}
.main__card:nth-child(2) {
    background-image: url("/09unit/images/squareheli/mediumsquare.jpg");
}
.main__card:nth-child(3) {
    background-image: url("/09unit/images/squarehotel/mediumsquare.jpg");
}
.main__card:nth-child(4) {
    background-image: url("/09unit/images/squarelibrary/mediumsquare.jpg");
}

//Setting width of anchors for grid
.main__cardAnchor {
    display: block;
    height: 300px;
    transition: all .5s ease-in;
}

//Color for cards
.main__card:nth-child(1) a {
    background-color: white;
}
.main__card:nth-child(2) a {
    background-color: white;
}
.main__card:nth-child(3) a {
    background-color: white;
}
.main__card:nth-child(4) a {
    background-color: white;
}
//Transition activated by hover
.main__card a:hover {
    background: none;
    text-shadow: 0 0 4px black; 
}

//28, 58, 75; 448px, 928px, 1200px; 449px, 464px, 300px;