

header {
    grid-template-columns: 100px auto auto;
}

nav {
margin: auto 0;
    button{display: none;}
    justify-self: end;
    ul, ul.open {
        position: relative;
        display: flex;
        background-color: transparent;
        width: auto;
    }
    ul li {
        border: none;
    }
    ul li a {
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: .5rem 1rem;
        margin-left: .2rem;
        transition: all .5s ease;
    }
    ul li a:hover { //has specifity of 3 except with !important
        background-color: black;
        color: rgb(255, 197, 121)!important;
    }
    ul li.active a { //has specifity of four
        color: rgb(0, 0, 0);

    }
}

.members {
    .member {
      flex-basis: 20%;  

    }
}