nav ul {
    width: 200px; //limits width
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .member {
      flex-basis: 46%;  
    }
}
nav {
    ul {
        width: 250px;
    }
    button {
        top: 30px;
    }
}