// font-family: 'Abel', sans-serif;
// font-family: 'Bungee', cursive;

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Abel', sans-serif;
    background-color: black;
    color: rgb(226, 226, 226);
}

header, main, footer {
    max-width: 75rem;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 1rem 0;
    figure {
        width: 100px;
    }
    h1 {
        display: block;
        font-family: 'Bungee', sans-serif;
        font-size: clamp(1rem, 4vw, 3rem);
        margin: auto 0;
    }
}








//Navigation button
nav {
    z-index: 1;
    button {
        position: absolute; //takes button out of page flow
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: $navigationColor;
        padding: .5rem 2vw .5rem 1rem;
        cursor: pointer;
    }
    ul {
        background-color: $navigationColor;
        position: absolute;
        right: 0;
        width: 100%; //buttons fill width
        display: none;
    }
    ul.open {
        display: block;
    }
    ul li {
        border-bottom: 3px solid black;
    }
    ul li a {
        display: block;
        padding: 2rem 2vw;
        color: black;
        text-decoration: none;
        text-align: right;
        font-size: clamp(1rem, 2vw, 2rem);
        font-weight: 600;
    }
    ul li.active a {
        background-color: lighten($navigationColor, 20%);
    }
    ul li a:hover {
        background-color: lighten($navigationColor, 20%);
    }
}


//Article photo manipulation
figure.hanImg img {
    float: right;
    clip-path: polygon(25% 0%, 73% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    // shape-outside: polygon(25% 0%, 73% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    shape-margin: .5rem;
}
figure.hanImg {
    shape-outside: polygon(25% 0%, 73% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    shape-margin: .5rem;
}

figure.sarImg img {
    float: right;
    clip-path: polygon(50% 0%, 66% 28%, 98% 35%, 78% 59%, 79% 91%, 50% 81%, 21% 91%, 22% 59%, 2% 35%, 32% 28%);
    margin: .5rem;
}
figure.sarImg {
    shape-outside: content-box polygon(50% 0%, 66% 28%, 98% 35%, 78% 59%, 79% 91%, 50% 81%, 21% 91%, 22% 59%, 2% 35%, 32% 28%);
    shape-margin: .5rem;
}


figure.jacImg img {
    float: right;
    clip-path: polygon(50% 0, 68% 26%, 100% 33%, 100% 71%, 64% 75%, 48% 100%, 31% 74%, 0 69%, 0 31%, 31% 26%);
    margin: .5rem;
}
figure.jacImg {
    shape-outside: polygon(50% 0, 68% 26%, 100% 33%, 100% 71%, 64% 75%, 48% 100%, 31% 74%, 0 69%, 0 31%, 31% 26%);
    shape-margin: .5rem;
}

figure.harImg img { //different class for each figure
    float: right;
    clip-path: circle(50% at 50% 50%);
    margin: .5rem;
}
figure.harImg {
    shape-outside: circle(100% at 100% 0%);
    shape-margin: .6rem;
}

//Gallery photos
section.theGallery figure {
    width: 100%;
    height: 0;
    padding-bottom: 43%; // you define this doing image height / width * 100
    position: relative;
    margin: 0;
}

section.thegallery figure img {
    width: 100%;
    height: auto;
    position: absolute;
}
img {
    width: 100%;  
}

.members { //div for articles
    color: black;
    padding: 1rem 1rem 2rem 1rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(124, 124, 124, 0.97) 0%, rgba(255,255,255,1) 100%);
    .member { //each member
        margin: 2%;
        h2 {
            font-size: 2rem;
            margin: 1rem 0;
        }
        figure {
            width: 100px;
            float: right; //floats picture to the right
            margin: .5rem;
            img {
               
                width: 100%;
                height: auto;
            }
        }
    }
}

footer {
    margin-top: 10vh;
    .copyInfo  {//copyright info
        font-size: 1.8rem;
        text-align: center;
    }
    .photoCiting {
        padding-top: 6rem;
        text-align: center;    
        a {
           text-decoration: none; 
           color: white;
        }
    }
}