* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
margin: 0;}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html  {
    max-width: 75rem;
    margin: auto;
}
body {
    font-family: Verdana;
    font-size: 16px;
}

header {
    background-color: rgb(255, 255, 157);
    margin: 0;
}
header h1 {
    font-weight: bold;
    letter-spacing: -.2rem;
    border-bottom: 2px wavy pink;
    padding: 2rem 1rem 0 1rem; 
    border-bottom: 3px dashed magenta;
    width: fit-content;
}
header h1::first-letter {
    font-size: 3rem;
    font-weight: 600;
}
header h2 {
    font-weight: 400;
    padding:  .8rem 0 2rem 1rem;
    letter-spacing: -.1rem;
    font-size: 1rem;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav {
    background: magenta;
}
nav ul li {
    list-style-type: none;
    padding: 1rem;
    text-shadow: 1px 1px 4px grey;
}

nav li.active {
    background: pink;
    box-shadow: 2px 2px 10px magenta inset;
}
nav ul a {
    display: block;
    text-align: left;
}
main figure img {
    width: 100%;
}
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {
    text-align: center; 
    font-size: .8rem;
}

main {
    padding: 1rem;
}

main h2 {
    font-weight: 400;
    border-bottom: 2px dashed pink;
}
main p {
    padding: 1rem 0;
}

div {
    padding: 1rem 0;
}
footer {
    background: magenta;
    text-align: center;
    padding: 1rem;
}